@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}


.container {
    min-height: 100vh;
    max-width: 80vw;
    margin: auto;
}

.container h1 {
    margin: 23px 0;
}

footer {
    text-align: center;
}

nav {
    font-weight: 900;
    display: flex;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


.container form {
    display: flex;
    flex-direction: column;
}

.container form label {
    font-size: 18px;

}

.container form input[type='number'], select, label {
    width: 23vw;
    font-size: 18px;
    margin-bottom: 23px;

}

.btn {
    width: 144px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 13px;
    padding: 8px 20px;
    cursor: pointer;

}





.output {
    margin-top: 23px;
    display: none;
}

.output table {
    margin-top: 23px;
    width: 50vw;
    text-align: center;
    border: 2px solid black;
}

.output table thead tr th{
    background-color: black;
    color: white;
    font-size: 19px;
    font-weight: 400;
    padding: 17px 17px;
}
.output table tr{
    padding: 17px;
    border: 2px solid black;
}
.output table td{
    padding: 17px;
    border: 2px solid black;
}
